# Fichiers binaires et de compilation

bin/

obj/

*.exe

*.dll

*.pdb

*.cache

*.ilk

*.ncb

*.suo

*.user

*.msi

*.vspscc

*.vsp

*.vspx

*.vsmdi

*.testsettings

*.log

*.tlog

*.csproj.user

  

# Fichiers de dépendances NuGet

packages/

project.lock.json

project.assets.json

*.nuget.props

*.nuget.targets

  

# Visual Studio Code

.vscode/

.vscode/*

  

# Fichiers de configuration

appsettings*.json

secrets.json

  

# Fichiers temporaires et logs

*.bak

*.swp

*.swn

*.swo

*.sublime-*

*.tmp

*.DS_Store

Thumbs.db

  

# Autres fichiers ignorés

*.tar

*.gz

*.zip

*.7z

*.rar

*.bak

*.log

*.tmp

*.swp

*.swn

*.swo

*.sublime-*

*.DS_Store

*.dylib

Thumbs.db